//
//  Config.xcconfig
//  HNCore
//
//  Created by Ernesto Torres on 8/22/17.
//  Copyright © 2017 Ernesto Torres. All rights reserved.
//

J2OBJC_HOME = /Users/ernesto.torres/Documents/j2objc-2.0.5

FRAMEWORK_SEARCH_PATHS = "${J2OBJC_HOME}/frameworks";
HEADER_SEARCH_PATHS = "${J2OBJC_HOME}/frameworks/JRE.framework/Headers" "${J2OBJC_HOME}/frameworks/JSR305.framework/Headers";
LIBRARY_SEARCH_PATHS = "${J2OBJC_HOME}/lib";
