//
//  Config.xcconfig
//  hackyto
//
//  Created by Ernesto Torres on 8/8/17.
//  Copyright © 2017 Ernesto Torres. All rights reserved.
//

J2OBJC_HOME = /Users/ernesto.torres/Documents/j2objc-2.0.1
J2OBJC_NULLABILITY = ${J2OBJC_HOME}/lib/jsr305-3.0.0.jar
J2OBJC_SOURCES = ${PROJECT_DIR}/../Android/Hackyto/sharedLib/src/main/java

HEADER_SEARCH_PATHS = "${J2OBJC_HOME}/include";
FRAMEWORK_SEARCH_PATHS = "${J2OBJC_HOME}/frameworks";
LIBRARY_SEARCH_PATHS = "${J2OBJC_HOME}/lib";
OTHER_LDFLAGS = -ljre_emul -liconv -framework Security -ljsr305
